@import url(../initial.css);

.banner-top {
    width: 100%;
    height: 56px;
    background-color: var(--modetext);
}

.banner-top p {
    font-size: 10px;
    font-weight: 400;
    color: var(--modescreen);
    position: relative;
    display: block;
    top: 21px;
    margin: 0 20px 0 0;
    float: right;
}

#slider0 p,
#slider1 p,
#slider2 p,
#slider3 p {
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 43%;
    color: white;
    transform: translate(-50%, -50%);
}

#slider0 h3,
#slider1 h3,
#slider2 h3,
#slider3 h3 {
    font-size: 45px;
    font-weight: 350;
    font-style: italic;
    position: absolute;
    top: 40%;
    left: 43%;
    color: white;
    transform: translate(-50%, -50%);
}

.box-slider .btn {
    position: absolute;
    top: 55%;
    left: 43%;
    color: white;
    transform: translate(-50%, -50%);

}

.box-slider .btn:hover {
    background-color: rgb(19, 17, 19);
    box-shadow: 4px 4px 10px rgb(19, 17, 19, 1);
}

.boxes {
    position: relative;
    display: block;
    width: 89%;
    left: 50%;
    transform: translateX(-50%);
}

.each-box {
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 370px;
    height: 247.15px;
    padding: 0 32px;
    left: 0;

}

.each-box a img:hover {
    transform: scale(1.1);
    transition: transform 1s;
    filter: brightness(0.4);
}

.boxes .each-box a:before {
    content: "lifestyle";
    color: black;
    line-height: 30px;
    font-style: italic;
    text-align: center;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 30px;
    background-color: rgb(251, 251, 251);
    z-index: -1;
    pointer-events: none;
}

.boxes .each-box a:hover:before {
    z-index: 1;
}

section {

    margin-top: 100px;
    width: 100%;
    height: auto;
    overflow: auto;
}

.paragraph {
    text-align: center;
    box-sizing: border-box;
    width: 60%;
    padding: 0 90px;
    display: block;
    float: left;

}

.about {
    box-sizing: border-box;
    width: 30%;
    right: 120px;
    position: relative;
    display: block;
    float: right;
}

.about li {
    border: 1px solid rgb(157, 156, 156, 0.5);
    border-top: 1px solid crimson;
}

h5 {
    text-align: center;
    margin: 0;
    border-bottom: 1px solid rgb(157, 156, 156, 0.5);
    line-height: 3;
    color: var(--modetext);
}

.about p {
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    padding: 0 30px;
}

.about input {
    position: relative;
    left: 50px;
    width: 200px;
    height: 40px;
    color: whitesmoke;
}

#navigation {
    position: relative;
    box-sizing: border-box;
    margin: 0;
    height: 54;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--modescreen);
    border: 1px solid rgba(128, 128, 128, 0.33);
    z-index: 100;
}

#navigation li {
    margin-top: 0px;
    width: 160px;
    height: 54px;
    padding: 0;
    line-height: 2.5;
    display: inline-block;
    cursor: pointer;
    box-sizing: content-box;
    font-size: 20px;
    border: 1px solid rgba(128, 128, 128, 0.33);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    overflow: visible;
}

#navigation li a:hover,
#navigation li:hover a {
    color: crimson;
}

.navilist {
    position: absolute;
    top: 50px;
    display: none;
}

.navilist li {
    background-color: var(--modescreen);
}

#navigation li a:hover>.navilist,
#navigation li:hover>.navilist {
    display: block;
}


.sticky {
    top: 0;
    position: fixed !important;
    width: 100%;
}